# Ramp on predicting likes in Dating Apps

Charlotte Cournon, Solène Debuysère, Godefroy Du Chalard, Yanis Lalou, Agathe Minaro, Luka Trailovic

## Table of Contents

1. Introduction
2. Getting started with the RAMP Starting Kit
    1. Software prerequisites
    2. Getting the data
3. The Data
4. Workflow
5. Submitting to the online challenge: ramp.studio

## Introduction

<span style="color:red"> **Ecrire une introduction**</span>

## Getting started with the RAMP Starting Kit
### Software prerequisites

This starting kit requires several packages, to install them, you can directly run from the root of the starting kit:
    
    pip install -r requirements.txt

### Getting the data

To download the public data, you can run from the root of the starting kit:

    python download_data.py

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## The Data

### Get the data

In [2]:
from problem import get_data

In [4]:
data_train, data_test, y_train, y_test = get_data()

In [5]:
data_train.head()

,gender,genderLooking,age,counts_details,counts_pictures,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,country,...,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,whazzup,connectedToFacebook,countDetails
userId,,,,,,,,,,,,,,,,,,,,,
535585c9140ba0be2a8b4ec4,F,none,24,0.90,10,0,True,True,True,DE,...,False,False,0,1,2015-04-27T19:29:11Z,1.430163e+09,0,Ich bin übrigens nicht perfekt und arbeite auc...,False,0.90
535c9b2f190ba04c408b7cc1,F,none,22,0.80,3,0,False,False,True,CH,...,False,False,0,1,2015-04-26T07:59:28Z,1.430035e+09,0,NaN,False,0.80
54d78595c86da1302f8b48b0,F,M,25,0.96,15,0,True,False,False,CH,...,False,False,1,1,2015-04-06T11:35:03Z,1.428320e+09,0,insta: Pocahontas__Doll,NaN,NaN
537e5414190ba0ee648b4db1,F,M,20,0.73,22,4,False,True,False,IT,...,False,False,0,1,2015-04-08T15:20:32Z,1.428506e+09,0,NaN,False,0.73
53055430cb6da17a878b49b6,F,M,22,1.00,3,0,True,False,False,IT,...,False,False,0,1,2015-04-13T01:02:02Z,1.428887e+09,0,Mentre l'orgoglio vince le persone si perdono,False,1.00

### Preprocessing the data

In [6]:
from problem import preprocess_data

In [7]:
data_train = preprocess_data(data_train)
data_test = preprocess_data(data_test)

In [8]:
data_train.head()

,gender,genderLooking,age,counts_details,counts_pictures,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,country,...,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,connectedToFacebook,countDetails,description
userId,,,,,,,,,,,,,,,,,,,,,
535585c9140ba0be2a8b4ec4,0,3,24,0.90,10,0,1,1,1,8,...,0,0,0,1,1430092800000000000,1.430163e+09,0,0.0,0.90,1
535c9b2f190ba04c408b7cc1,0,3,22,0.80,3,0,0,0,1,7,...,0,0,0,1,1430006400000000000,1.430035e+09,0,0.0,0.80,0
54d78595c86da1302f8b48b0,0,1,25,0.96,15,0,1,0,0,7,...,0,0,1,1,1428278400000000000,1.428320e+09,0,NaN,NaN,1
537e5414190ba0ee648b4db1,0,1,20,0.73,22,4,0,1,0,13,...,0,0,0,1,1428451200000000000,1.428506e+09,0,0.0,0.73,0
53055430cb6da17a878b49b6,0,1,22,1.00,3,0,1,0,0,13,...,0,0,0,1,1428883200000000000,1.428887e+09,0,0.0,1.00,1

In [9]:
data_test.head()

,gender,genderLooking,age,counts_details,counts_pictures,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,country,...,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,connectedToFacebook,countDetails,description
userId,,,,,,,,,,,,,,,,,,,,,
54c7ccf0c56da1df5f8b4ed8,0,1,22,0.88,6,6,1,1,0,4,...,0,0,0,1,1428278400000000000,1.428332e+09,0,NaN,NaN,1
550467e1e86da1a35c8b4966,0,1,19,0.96,8,1,0,1,0,5,...,0,0,1,1,1428278400000000000,1.428330e+09,0,NaN,NaN,1
551dd982553fcb8018483934,0,1,19,0.00,1,0,1,1,1,10,...,0,0,0,1,1428364800000000000,1.428385e+09,0,0.0,0.00,1
5419ffcf1b0ba042048b47dc,0,1,21,0.27,2,0,0,1,0,10,...,0,0,0,1,1428278400000000000,1.428332e+09,0,NaN,NaN,1
550de1fe0a6ea11e488b4a05,0,1,22,0.58,4,0,1,0,0,7,...,0,0,0,1,1428278400000000000,1.428337e+09,0,0.0,0.58,0

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3193 entries, 535585c9140ba0be2a8b4ec4 to 55204d28076ea157768b48da
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3193 non-null   int64
 1   genderLooking           3193 non-null   int64
 2   age                     3193 non-null   int64
 3   counts_details          3193 non-null   float64
 4   counts_pictures         3193 non-null   int64
 5   counts_fans             3193 non-null   int64
 6   flirtInterests_chat     3193 non-null   int64
 7   flirtInterests_friends  3193 non-null   int64
 8   flirtInterests_date     3193 non-null   int64
 9   country                 3193 non-null   int8
 10  isFlirtstar             3193 non-null   int64
 11  isHighlighted           3193 non-null   int64
 12  isInfluencer            3193 non-null   int64
 13  isMobile                3193 non-null   int64
 14  isNew                   3193 non-null   int64
 15  isOnline                3193 non-null   int64
 16  isVip                   3193 non-null   int64
 17  lang_count              3193 non-null   int64
 18  lang_fr                 3193 non-null   int64
 19  lang_en                 3193 non-null   int64
 20  lang_de                 3193 non-null   int64
 21  lang_it                 3193 non-null   int64
 22  lang_es                 3193 non-null   int64
 23  lang_pt                 3193 non-null   int64
 24  verified                3193 non-null   int64
 25  shareProfileEnabled     3193 non-null   int64
 26  lastOnlineDate          3193 non-null   int64
 27  lastOnlineTime          3193 non-null   float64
 28  birthd                  3193 non-null   int64
 29  connectedToFacebook     2336 non-null   float64
 30  countDetails            2336 non-null   float64
 31  description             3193 non-null   int64
dtypes: float64(4), int64(27), int8(1)
memory usage: 801.4+ KB